# String Functions
- upper()--will convert the input string into upper case
- lower()--will convert the input string into lower case

In [2]:
s1='Python'
print(s1.upper())
print(s1.lower())

PYTHON
python

### string Boolean function
- True or False
- islower()--True if the string have all characters lower case
- isupper()--True if the string have all characters upper case
- istitle()--True if the string in the title case
- isnumeric()--True if the string contains only numbers
- isalpha()--True if the string contains only alphabetic
- isspace()--True if the string contains any space

In [4]:
s1='python'
print(s1.isupper())
print(s1.islower())

False
True

In [5]:
s1='Python Programming'
print(s1.istitle())

True

In [6]:
s1='123456'
s2='Python Programming'
print(s1.isnumeric())
print(s2.isnumeric())

True
False

In [8]:
s1='123456'
s2='Python'
print(s1.isalpha())
print(s2.isalpha())

False
True

In [12]:
s1=' '
s2='python12345'
print(s1.isspace())
print(s2.isspace())

True
False

### String Methods
- split()--returns the list of strings seperated by whitespace
- replace()--returns the string replacement by word and character-
- join()--concatination of two string

In [15]:
s1='Python Programming learn mode easy'
print(s1.split())

['Python', 'Programming', 'learn', 'mode', 'easy']

In [16]:
s1='Python Programming learn mode easy'
print(s1.split('a'))

['Python Progr', 'mming le', 'rn mode e', 'sy']

In [17]:
s1='Python Programming learn mode easy'
print(s1.replace(' ','-'))

Python-Programming-learn-mode-easy

In [20]:
s1='Python Programming learn mode easy'
print(s1.replace('a','@'))

Python Progr@mming le@rn mode e@sy

In [21]:
s1='Python'
print(' '.join(s1))

P y t h o n

# String Formating
- classic version
- current version python

In [25]:
#classic versions
li=['python','programming']
print('%s %s' % (li[0],li[1]))

python programming

In [26]:
li=[1,2,3,4]
print('%d %d %d %d' % (li[0],li[1],li[2],li[3]))

1 2 3 4

In [27]:
#.format
li=['python','programming']
print('List Item 0:{0} \nList Item 1:{1}' .format (li[0],li[1]))

List Item 0:python
List Item 1:programming

In [29]:
li=[1,2,3,4]
print('{0} {1} {2} {3}' .format(li[0],li[1],li[2],li[3]))

1 2 3 4

# Dictionaries
- it works on concept of unique data
- key,value is the unique identifier a value
- each key is eperated from value colon(:)
- each key and value is seperated by comma(,)
- dictionaries are enclosed between curly brackets{}

In [31]:
d1={"Name":"Gitam","Emailid":"gitamvizag@gmail.com","Address":"vizag"}
print(d1)

{'Name': 'Gitam', 'Emailid': 'gitamvizag@gmail.com', 'Address': 'vizag'}

In [33]:
d1['Emailid']

'gitamvizag@gmail.com'

In [37]:
d1['Emailid']="gitam@hotgmail.com"

In [38]:
d1['Emailid']

'gitam@hotgmail.com'

In [40]:
d1.keys()

dict_keys(['Name', 'Emailid', 'Address'])

In [42]:
d1.values()

dict_values(['Gitam', 'gitam@hotgmail.com', 'vizag'])

In [43]:
del d1['Emailid']

In [47]:
d1

NameError: name 'd1' is not defined

In [45]:
del d1

In [46]:
d1

NameError: name 'd1' is not defined

# Contact Application
- Add contact Details
- search the contact details
- list all the contacts(Merge/Import)
  - Name 1: value
  - Name 2: value
- modify or update the contact details
- Delete the contact detials

In [49]:
contacts={}
def addcontact(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print('Contact details are added successsfully')
    else:
        print('Name is already exists')
    return
addcontact('ram','21894516859')
addcontact('shyam','56788459458')
addcontact('seeta','57891599548')

Contact details are added successsfully
Contact details are added successsfully
Contact details are added successsfully

In [52]:
def searchcontact(name):
    if name in contacts:
        print(name," : ",contacts[name])
    else:
        print('{0} does not present'.format(name))
    return
searchcontact('ram')
searchcontact('gitam')
searchcontact('shyam')

ram  :  21894516859
gitam does not present
shyam  :  56788459458

In [56]:
# Import new contact details
# Merge the pervious details with new details
def importcontacts(newcontacts):
    contacts.update(newcontacts)
    print(len(newcontacts.keys()),'contacts are added')
    return
newcontacts={'gitam':332211665544,'priti':778899445566,'python':445566998877}
importcontacts(newcontacts)

3 contacts are added

In [57]:
contacts

{'ram': '21894516859',
 'shyam': '56788459458',
 'seeta': '57891599548',
 'gitam': 332211665544,
 'priti': 778899445566,
 'python': 445566998877}

In [61]:
def modifycontact(name,phone):
    if name in contacts:
        contacts[name]=phone
        print(name,'updated successfully')
    else:
        print(name,'Not exists')
    return
modifycontact('priti',222555888)
modifycontact('ridhi',778899445566)

priti updated successfully
ridhi Not exists

In [62]:
def deletecontact(name):
    if name in contacts:
        del contacts[name]
        print(name,'Deleted Successfully')
    else:
        print(name,'Not Present')
    return
deletecontact('shyam')

shyam Deleted Successfully

In [63]:
contacts

{'ram': '21894516859',
 'seeta': '57891599548',
 'gitam': 332211665544,
 'priti': 222555888,
 'python': 445566998877}

# Tuples
- Tuples enclosed with parameters()
## Differences between Tuples and List
    - List are mutable--can be changed / Modify
       - Read and Write the data
    - Tuples are immutable-- can't be changed / Modify
       - Read data only

In [66]:
t1=(1,2,3,4,5,6)
print(t1)

(1, 2, 3, 4, 5, 6)

In [67]:
print(t1[1::-1])

(2, 1)

# Standard Libraries
- Regular Expression
 - To validate the Indian Mobile
 - To validate the Emailid
 - To validate the Username
 - To validate the Password
- Understanding the regular expression
 - [0-9]--Any digit matching
 - [a-z]--Any lower case matching
 - [A-Z]--Any upper case matching
 - cp symbol is used to represent the start of regular expression
 - dollar symbol is used to represent the end of regular expression

In [68]:
#function to test the two digit number as input
# true--- input two digit number
#false--- input not a two digit number
import re
def twodigitmatching(n):
    pattern='^[0-9]{2}$'
    n=str(n)
    if re.match(pattern,n):
        return True
    return False
print(twodigitmatching(12))
print(twodigitmatching(123))

True
False

In [71]:
# Regular expression for username
#username-- should contains Lower and Upper case character
#Length--- min 5 and max 12
def validateUsername(s):
    pattern='^[a-zA-Z]{4,11}$'
    if re.match(pattern,s):
        return True
    return False
print (validateUsername('PritishaPatnaik'))
print (validateUsername('Priti'))
print (validateUsername('Gitamvizagpythonprogramming'))

False
True
False

# Regular Expression for Indian Mobile
- 10 digit number
 - first number is starts from[6-9]
 - Rest of 9 numbers is between [0-9]
   - e.g---9878944849 #True
   - e.g----4548346984 #False
- 11 digit number
 - first number can be 0
 - second number can be from[6-9]
 - Rest of 9 numbers is between [0-9]
   - e.g---09789448498 #True
   - e.g---99548346984 #False

In [ ]:
#rule 1--- ^[6-9][0-9}{9}$
#rule 2--- ^[0][6-9][0-9]{9}$
#rule 3--- ^[+][9][1][6-9][0-9]{9}$

In [6]:
import re
def validateIndianphone(n):
    pattern='^[6-9][0-9}{9}$|^[0][6-9][0-9]{9}$|^[+][9][1][6-9][0-9]{9}$'
    n=str(n)
    if re.match(pattern,n):
        return True
    return False
validateIndianphone('+919988774455')

True

#validate the emailid
- example: username@domainname.extension
- example: dsps@gmail.com
- username:
    - Len of string will be[6-15]
    - No spl characters except underscore(_)
    - Username should not begins with underscore(_)
    - All characters set digits,lower case and upper case
       - example: Priti_1997
- Domain name
 - len of string will be[3-18]
 - No spl characters
 - charcaters set will be digits,lower and upper case
   - example: gmail,hotmail,ymail...etc
- Extensions
 - len of string will be[2-4]
 - No spl characters
 - charcaters set will be in lowercase
   - example: com in au uk

In [ ]:
#username RE: [0-9a-zA-Z][0-9a-zA-Z_.]{5,14}
#Domain Name RE:[a-z0-9]{3,18}
#Extension RE: [a-z]{2,4}
#EmailID RE: 
^[0-9a-zA-Z][0-9a-zA-Z_.]{5,14}[@][a-z0-9]{3,18}[.][a-z]{2,4}$

In [11]:
import re
def validateEmail(email):
    pattern='^[0-9a-zA-Z][0-9a-zA-Z_.]{5,14}[@][a-z0-9]{3,18}[.][a-z]{2,4}$'
    if re.match(pattern,email):
        return True
    return False
validateEmail('rupalipatnaik97@gmail.com')

True

# python Graphics
- Lib- Turtle

# Package ,module and sub package
## Package
 - A collection of modules(single python file .py)
## Module
 - A single python fie contains group of function
 - package- > sub package - > Modules- > functions - > statements
 - import keyword is used to import the extrenal lib packages into the python program

In [13]:
import math
math.floor(123.456)

123

In [14]:
math.ceil(123.456)

124

In [19]:
from math import factorial as fact
fact(5)

120

In [20]:
from math import gcd as gcd
gcd(10,15)

5

In [25]:
#import random package
import random
#function to generate the N numbers in given range
def generateRandNum(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=" ")
    return
generateRandNum(10,0,100)

31 82 15 86 22 73 63 52 18 42

In [27]:
#CREATE A SIMPLE GAME
#TRY TO GENERATE 20  NUMBERS
#iNPUT --- NUMBER
#PRESENT --- CONGRATS!!!
#NOT PRESENT--- TRY AGAIN

In [43]:
from random import randint as randint
def generatenumber(n,lb,ub):
    li=[]
    for i in range(0,n):
        li.append(randint(lb,ub))
    return li
def check(n):
    li=generatenumber(20,100,999)
    if n in li:
        print('Congrats!!!')
    else:
        print("Try Again!!!")
    return
check(101)

Try Again!!!

In [ ]:
import turtle as tt
a1=tt.Turtle()
a1.backward(150)
tt.done()

In [ ]:
import turtle as tt
a1=tt.Turtle()
a1.right(90)
tt.done()